@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

header,
.main-content-intro,
.card__container {
  padding: 0 24px;
}

header,
.main-container,
.items {
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

#logo:hover {
  transform: rotate(-4deg);
}

#logo,
.fa-bars {
  color: #6070ff;
}

.stake {
  position: absolute;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.stake-top,
.stake-middle,
.stake-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #6070ff;
  transition: all 0.5s;
}

.stake-middle {
  transform: translateY(5px);
}

.stake-bottom {
  transform: translateY(10px);
}

/* Transition stake to X when open */
.open {
  transform: rotate(90deg);
}

.open .stake-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .stake-middle {
  display: none;
}

.open .stake-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

/* main section */
.main-container {
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url('asset/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
}

.main-container h1 {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 10px;
}

.main-content-intro p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 10px;
}

#social-heading,
#about-heading {
  text-decoration: none;
  color: #7f8cff;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 12px;
}

.social__icons ul {
  padding-top: 16px;
  padding-bottom: 4px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.social__icons ul li {
  margin-right: 20px;
}

#social__icons-about {
  margin-left: 10px;
}

.main-content-intro > div {
  overflow-wrap: break-word;
}

/* card-section */
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
}

.main-container,
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  padding: 16px;
}

.screenshot {
  width: 100%;
}

.card__description {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-bg-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-bg-info p {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-bg-info ul {
  display: flex;
  margin-left: 30px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card__text {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 10px;
}

.card__skills {
  padding-top: 10px;
}

.card__skills ul li {
  float: left;
  list-style: none;
  align-items: center;
  margin-right: 8px;
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card__skills ul li:hover {
  background: #cdcdfe;
}

.card-bg-info ul li:nth-child(2) {
  margin-left: 30px;
}

.btn-about {
  border: 1px solid #6070ff;
  color: #396df2;
}

.btn-form {
  border: 1px solid #fff;
  color: #6070ff;
}

#btn-container {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#btn-container:hover {
  background-color: #6070ff;
  color: #fff;
}

#btn-container:active {
  background-color: #2230d2;
}

.btn {
  color: #396df2;
  background: transparent;
  padding: 12px;
  margin-top: 25px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  top: calc(50% - 48px / 2);
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
}

/* About Section */
.about__container {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 114px 24px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.about p {
  font-size: 16px;
  color: #344563;
}

#about-heading {
  padding-bottom: 15px;
}

.about .btn {
  margin-top: 0;
}

.skills__container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.skills__container button {
  margin-right: 15px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.skills__container > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.skill__item {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px;
  font-size: 20px;
  font-weight: 500;
}

.language__item {
  list-style: none;
}

.bottom-bar {
  border-bottom: 1px solid #dfe1e6;
}

/* Form section */
#form-section {
  background-color: white;
}

#contact-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 90px 24px 45px 24px;
  background-image: url(./asset/form-shapes.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

#form ul {
  list-style: none;
}

#contact-container h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 10px;
}

#contact-container p {
  color: #ebebff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

#form input,
#form textarea {
  width: 100%;
  border-radius: 8px;
  border: none;
}

#form input {
  height: 48px;
  padding: 10px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#form textarea {
  padding: 15px 38px 15px 16px;
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#form button {
  background-color: white;
}

#form .btn:hover {
  background-color: #6070ff;
  color: white;
  border: 1px solid white;
}

#form .btn:active {
  background-color: #2230d2;
}

/* Media Queries */
@media (max-width: 400px) {
  .cards {
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .nav-links {
    display: none;
  }
}

@media (min-width: 768px) {
  header {
    padding: 1.5% 9%;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header .fa-bars {
    display: none;
  }

  header #logo {
    display: flex;
    align-items: center;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
  }

  header nav ul li {
    padding: 10px 12px;
  }

  header nav a {
    text-decoration: none;
    font-size: 15px;
    color: #344563;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .main-container {
    height: 652px;
    background-image: url(./asset/header-bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 97%;
    background-position: 10px 80px;
    justify-content: center;
    border-bottom-left-radius: 80px;
  }

  .main-content-intro {
    width: 70%;
  }

  /* Card Section */

  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 142px;
  }

  .items {
    flex-direction: row;
    gap: 10px;
  }

  .items > div {
    width: 50%;
  }

  .items .screenshot {
    object-fit: cover;
    height: 100%;
  }

  .card__description {
    padding: 1% 2%;
  }

  .card-1 {
    order: 1;
  }

  .card-2 {
    order: 2;
  }

  .card-3 {
    order: 3;
  }

  .card-4 {
    order: 4;
  }

  .card-2,
  .card-4 {
    flex-direction: row-reverse;
  }

  /* About Section */
  .about__container {
    grid-template-columns: 40% 60%;
    padding: 9%;
    column-gap: 15px;
  }

  .skills__container {
    padding-top: 0;
  }

  .skill__item:nth-child(1) {
    padding: 8px 12px 24px 12px;
  }

  .skill__item:nth-child(2),
  .skill__item:nth-child(3) {
    padding: 24px 12px;
  }

  .language__content {
    display: flex;
    flex-direction: column;
  }

  .language__list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style-type: none;
    margin-left: 12px;
  }

  .language__list li div {
    width: 115px;
    height: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f7f7f9;
    padding-top: 12px;
    padding-left: 12px;
  }

  .language__item img {
    width: 48px;
  }

  .language__item p {
    margin-left: 0;
    margin-top: 10px;
  }

  #skill-item-color p {
    color: #344563;
  }

  #contact-container {
    padding: 12% 30%;
    background-image: url(./asset/contact-form-bg-desktop.svg);
    background-size: 94%;
    background-position: 60% 30%;
  }

  .btn-form {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 27px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 12px 16px;
  }
}

/* laptop L 1440px */
@media (min-width: 1440px) {
  /* Main section */
  .main-container {
    height: 916px;
    background-size: 97%;
    background-position: 15px 122px;
  }

  .main-container h1 {
    font-size: 48px;
  }

  .main-container p {
    font-size: 20px;
  }

  #social-heading {
    margin-top: 20px;
  }

  /* About */
  .about p {
    font-size: 18px;
  }

  /* Card */
  .card-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .card-bg-info p,
  .card-bg-info li {
    font-size: 18px;
  }

  .card__text {
    font-size: 18px;
    margin: 24px 0 24px 0;
  }

  .card__skills ul li {
    font-size: 15px;
  }
}
